@font-face { 
	font-family: 'GmarketSansMedium'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

*{				
 	margin: 0; 
 	padding: 0; 
 	font-family: 'GmarketSansMedium';
}

  .root {
            width: 1280px;
            margin: 0 auto;
        }

        .header-container {
            text-align: center;
        }

        .footer {
            padding: 25px 0;
            text-align: center;
        }

        .footer ul {
            margin-bottom: 20px;
        }

        .footer li {
            position: relative;
            display: inline;
            padding: 0 7px 0 10px;
        }

        .footer li:before {
            content: '';
            width: 1px;
            height: 12px;
            background: #ccc;
            position: absolute;
            left: 0;
            top: 2px;
        }

        .footer li:first-child:before {
            width: 0;
            height: 0;
        }

        .footer .w3c {
            margin-top: 15px;
        }

/* 메인메뉴 */
.nav {
	/* 기본 리스트스타일(disc) 없애기 ● */
	list-style-type: none; 

	/* 기본여백 제거하기 */
	padding: 0;
	margin: auto;
	
	width:1200px;
	margin-left: 60px;
}

/* 메인메뉴 메뉴항목  */
.nav > li {
	/* 수평으로 일렬로 배치하기 */
	float: left;
	
	/* 높이 조절하기 */
/* 	padding: 20px 0; */
	line-height: 40px;
	
	/* 배경색 지정  */
	
	/* 오른쪽 테두리 설정 -> 메뉴 항목 구분하기 */
	border-right: 1px solid white;
	
	/* 내용물이 <li>항목보다 크면 보이지 않도록 잘라내기 */
	/* <li>보다 <a>영역이 클 때 적용하면 좋다 */
	/* overflow: hidden; */
	
	/* absolute 자식요소의 기준위치로 설정하기 */
	position: relative;
}

/* 메인메뉴 메뉴항목 텍스트(링크) */
.nav > li > a {
	/* 메인메뉴 글자 색상 */
	color: black;
	
	/* 글자 꾸밈선 없애기 */
	text-decoration: none;
	
	/* 글자 스타일 지정 */
	font-size: 20px;
	/* 내부 여백 (링크가 클릭되는 영역)*/
	padding: 5px 15ps;
	
	/* 외부 여백 (링크 클릭 안되는 영역, 다른 <a>와 구분되도록 만든다) */
/* 	margin: 0 5px; */
	
}
/* <a>태그 영역에 마우스를 올렸을 때 */
.nav > li > a:hover {
	-webkit-transition: all 2s  ;
	-moz-transition: all 2s  ;
	-o-transition: all 2s  ;
	transition: all 2s ;
	/* transition: color 2s 1s ; */
	
	/* 색상변경 */
	color: black;
}

/* 서브 메뉴 */
.nav > li > ul {
	/* html 계층구조에서 빼는 설정 */
	/* 부모요소인 <li>태그의 컨텐츠 영역을 차지하지 않도록 만들기 */
	position: absolute;
	
	left: 0;
	
	/* 기본 리스트 스타일(disc)제거하기 */
	list-style-type: none;
	
	/* 기본 여백 제거하기 */
	padding: 0;
	margin: 0;

	
	/* 서브 메뉴의 너비 */
	width: 120px;

	
}
	
/* 서브메뉴 항목 */	
.nav > li > ul > li {
	/* 배경색 지정 */
	
	
	/* 평소화면에서 안보이도록 설정하기 */

	/* 방법1 display하지 않는다 */
	/* display: none; */
	
	/* 방법2 내용물의 모든 높이,크기를 0으로 설정한다 */
 	line-height: 0;
	height: 0;
	font-size: 0; 
	
	/* 서브메뉴 텍스트 들여쓰기효과 */
	padding-left: 10px;
}


/* 메인메뉴항목에 마우스를 갖다대면,
자식요소인 서브메뉴항목을 보이도록 설정한다 */
.nav > li:hover > ul > li {
	/* 방법1 에 대한 처리  */
	/*  display: list-item;  */

	/* 방법2 에 대한 처리 */
	line-height: 40px;
	height: 40px;
	font-size: 20px;
	
	
	/* css 변화 속도 조절 */
	/*-webkit-transition: all 2s  ;
	-moz-transition: all 2s  ;
	-o-transition: all 2s  ;*/
	
	
}
/* 서브 메뉴의 링크 텍스트 */
.nav > li > ul > li > a{
	/* <a>태그 꾸밈선 제거하기 */
	text-decoration: none;
	
	/* li항목 영역을 꽉 채우도록 만듦 */
	display: block;
	width:150px;
	margin: 10px 0;
}

.nav > li > ul > li > a:hover {
	/* 글자색 변경 */
	color: black;
	

}
.navwrap{
	text-align: center;
}
.nav1{
	 margin: auto;
    width: 1000px;
    
}

.gradetb{
	text-align: center;
}

     .nav4>input {
            width: 100px;
        }

        .input-group {
            width: 850px;
        }
        .form-control{
            width:200px;
            float: right;
            margin: 0;
            padding: 0;
            
        }
        table{
            font-size: 20px;
        }
.input-group{
	width:100%;
}
.nav4{
	width:1280px;
}
.row{
width:800px;
margin:auto;
	
}
.col-lg-6{
	width:100%;
	margin-bottom: 30px;
	
}

.gradetb>p{
	display: inline-block;
	font-size: 30px;
	width:200px;
	margin-left: 30px
	
}
tbcontainer{
	text-align: center;
}

.form-control{
	height:50px;
}
.onlyh2{
	text-align: center;
}
.tbcontainer{
	text-align: center;
}
.tbcontainer>table>tr>th{
	text-align: center;
}
.btn btn-default{
	width:50px;
	height: 50px;
}
.logoutbt{
	width:1280px;
	margin:auto;
}
.logoutbt>button{
	float:right;
}
th{
	text-align: center;
}
.btn.btn-default{
	width:50px;
	height:50px;
}
.modaldiv{
	width:100%;
	height:600px;
	text-align: center;
}
p>img{
	width: 300px;
	height:300px;
}
.modal-content{
	width:600px;
	height:800px;
}
.admin_modal {
	text-align: left;	
	margin: 0 auto;
	word-break: break-all;
}
.admin_modal_title {
	width:200px;
	font-weight: bolder;
}

